/**********************************************************/
/*TODO*/
/**********************************************************//*

- make media breakpoints for responsiveness

*//**********************************************************/
/*notes*/
/**********************************************************//*

animation: name duration timing delay iterations direction fill-mode play-state
^defaults: none 0 ease 0 1 normal none running

*//**********************************************************/
/*globals*/
/**********************************************************/

/*maybe?*/
/*::-webkit-scrollbar {
  display: none;
}*/

html,body {
  width: 100%;
  height: 100%;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**********************************************************/
/*title*/
/**********************************************************/

.title {
  background: url(images/pour.jpg) no-repeat center center;
  background-size: cover;
  display: block;
  position: relative;
  width: 100%;
  height: 85%;
}

.title-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  /*font-family: 'Fredericka the Great', cursive;*/
  /*font-family: 'Spectral SC', serif;*/
  /*font-family: 'Marcellus SC', serif;*/
  /*font-family: 'IM Fell French Canon SC', serif;*/
  /*font-family: 'IM Fell English SC', serif;*/
}

.title-name {
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 80px;
  color: white;
  opacity: 0;
  margin-bottom:40px;
}

.title-hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
  opacity: 0;
}

.title-header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-header-noflair {
  font-family: 'IM Fell English', serif;
  font-weight: 400;
  font-size: 40px;
  color: white;
  opacity: 0;
  display: inline;
}

.title-header-flair {
  font-family: 'IM Fell English SC', serif;
  font-weight: 400;
  font-size: 50px;
  color: white;
  opacity: 0;
  display: inline;
}

.title-subheader {
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
  opacity: 0;
  margin-top: 40px;
}

.fade-in-title { 
  /*set delay to 0s here, will be handled in js*/
  animation: fade-in 3s ease 0s forwards;
}

/**********************************************************/
/*statement*/
/**********************************************************/

/*for smaller screens:*/
/*.statement {
  background-color: rgb(240,240,240);
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35%;
  text-align: center;
}

.statement-contents {
  width: 60%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.statement-heading {
  padding-top: 60px;
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
}

.statement-description {
  font-family: 'IM Fell English', serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
  margin-top: 25px;
  padding-bottom:60px;
}
*/
.statement {
  background-color: rgb(240,240,240);
  display: block;
  position: relative;
  width: 100%;
  height: 35%;
  text-align: center;
}

.statement-contents {
  width: 60%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.statement-header {
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
}

.statement-description {
  font-family: 'IM Fell English', serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
  margin-top: 25px;
}

/**********************************************************/
/*established*/
/**********************************************************/

.established {
  background: rgb(70,70,70);
  display: block;
  position: relative;
  width: 100%;
  height: 50%;
}

.established-tile {
  float:left;
  width:33.3333333%;
  height:100%;
  display:inline-block;
}

.established-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.established-title {
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.established-year {
  font-family: 'Marcellus SC', serif;
  font-weight: 400;
  font-size: 90px;
  color: white;
}

.established-hr {
  border:0;
  height: 2px;
  color: white;
  background: white;
  font-size: 0;
  width: 75%;
  margin-top: 20px;
}

.established-description {
  font-family: 'IM Fell English', serif;
  font-weight: 400;
  font-size: 22px;
  color: white;
  margin-top: 25px;
}

.established-img-left {
  background: url(images/done.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.established-img-right {
  background: url(images/prep.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/**********************************************************/
/*services*/
/**********************************************************/

.services {
  background-color: rgb(185,185,185);
  display: block;
  position: relative;
  width: 100%;
  height: 40%;
}

.services-contents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 30%;
}

.services-header {
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  margin-bottom: 40px;
  display: block;
}

.services-lists::after {
  content: "";
  clear: both;
  display: table;
}

.services-list {
  font-family: 'IM Fell English', serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
  width:50%;
  float: left;
  display: inline-block;
}

.services-list-left li {
  margin-top: 15px;
}
.services-list-right li {
  margin-top: 15px;
}

.services-footer {
  font-family: 'Spectral SC', serif;
  font-weight: 400;
  font-size: 30px;
  color: black;
  margin-top: 40px;
  display: block;
}

/**********************************************************/
/*why*/
/**********************************************************/

/**********************************************************/
/*contact*/
/**********************************************************/

/**********************************************************/
/*footer*/
/**********************************************************/
