/**********************************************************/
/*TODO*/
/**********************************************************//*

- make media breakpoints for responsiveness

*//**********************************************************/
/*notes*/
/**********************************************************//*

animation: name duration timing delay iterations direction fill-mode play-state
^defaults: none 0 ease 0 1 normal none running

*//**********************************************************/
/*globals*/
/**********************************************************/

/*maybe?*/
/*::-webkit-scrollbar {
  display: none;
}*/

html,body {
  width: 100%;
  height: 100%;
}

.bg {
  background: url(images/pouring.jpg) no-repeat center center;
  background-size: cover;
  position: fixed;
  z-index: -1;
  bottom:0;
  top:0;
  left:0;
  right:0;
}

/**********************************************************/
/*title-screen*/
/**********************************************************/

.title-screen {
  /*full-screen div*/
  width: 100%;
  height: 100%;
}

.title-screen h1 {
  /*absolute inside a full-screen div*/
  position: absolute; 
  width: 100%;
  background-color: rgba(0, 0, 0, 0.80);;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  padding: 10px;
  font-size: 60px;
  font-weight: 400;
  color: white;
  opacity: 0;

  /*font-family: 'Fredericka the Great', cursive;*/
  font-family: 'Spectral SC', serif;
  /*font-family: 'Marcellus SC', serif;*/
  /*font-family: 'IM Fell French Canon SC', serif;*/
  /*font-family: 'IM Fell English SC', serif;*/
}

.fade-in-title { 
  /*set delay to 0s here, will be handled in js*/
  animation: fade-in 3s ease 0s forwards;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/**********************************************************/
/*task-bar*/
/**********************************************************/

.task-bar {

}